<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.communityapp.mappers.UsersMapper">

    <insert id="insertUser" parameterType="UserVO">
        INSERT INTO users (user_id, email, nickname, password, role, is_deleted, note, created_at, updated_at)
        VALUES (#{userId}, #{email}, #{nickname}, #{password}, #{role}, #{isDeleted}, #{note}, NOW(), NOW())
    </insert>

    <select id="findByEmail" resultType="userVO">
        SELECT user_id, email, nickname, password, role, is_deleted, note, created_at, updated_at
        FROM users
        WHERE email = #{email}
        AND is_deleted = 0
    </select>

    <select id="findByNickname" resultType="userVO">
        SELECT user_id, email, nickname, password, role, is_deleted, note, created_at, updated_at
        FROM users
        WHERE nickname = #{nickname}
        AND is_deleted = 0
    </select>

</mapper>